

    
    <script src="{{site.baseurl}}/lib/js/head.min.js"></script>
		<script src="{{site.baseurl}}/js/reveal.js"></script>

		<script>
   			Reveal.initialize({
   				controls: true,
				progress: true,
				history: true,
				center: true,

				
				dependencies: [
					{ src: '../../lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '{{site.baseurl}}/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{site.baseurl}}/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{site.baseurl}}/plugin/notes/notes.js', async: true },
					{ src: '{{site.baseurl}}/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>

		</script>