</html>

<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js - Markdown Demo</title>

		<link rel="stylesheet" href="{{site.baseurl}}/css/reveal.css">
		<link rel="stylesheet" href="{{site.baseurl}}/css/theme/black.css" id="theme">

        <link rel="stylesheet" href="{{site.baseurl}}/lib/css/zenburn.css">
	</head>

	<body>

		<div class="reveal">

			<div class="slides">

                <!-- Slides are separated by three dashes (quick 'n dirty regular expression) -->
                <section data-markdown data-separator="---">
                    <script type="text/template">
                        ## Demo 1
                        Slide 1
                        ---
                        ## Demo 1
                        Slide 2
                        ---
                        ## Demo 1
                        Slide 3
                    </script>
                </section>

                <!-- Slides are separated by newline + three dashes + newline, vertical slides identical but two dashes -->
                <section data-markdown data-separator="^\n--\n$" data-separator-vertical="^\n...\n$">
                    <script type="text/template">
## Demo 1
Slide 1

...

## Demo 1
Slide 1.1

--

## Demo 1
Slide 2

...

## Demo 1
Slide 2.1
                    </script>
                </section>

            </div>
		</div>

		<script src="{{site.baseurl}}/lib/js/head.min.js"></script>
		<script src="{{site.baseurl}}/js/reveal.js"></script>

		<script>

			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '{{site.baseurl}}/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '{{site.baseurl}}/plugin/notes/notes.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '{{site.baseurl}}/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '{{site.baseurl}}/plugins/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '{{site.baseurl}}/plugins/notes/notes.js' }
				]
			});

		</script>

	</body>
</html>